$nav-height: 60px;
nav{
  display: flex;
  justify-content: center;
  height: $nav-height;
  > a{
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.technique-reroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .technique-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    > button{
      cursor: pointer;
      margin: 2px;
      padding: 10px;
      background-color: red;
      > img{
        height: 100px;
        width: 100px;
      }
    }
  }
  .reroll-input{
    margin-top: 20px;
  }
  .probability-output{
    > p{
      margin: 10px 0;
      font-size: 2rem;
    }
  }
}

.unit-statistics{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  height: calc(100vh - $nav-height);
  min-width: 95vw;
  .unit-selection{
    max-width: 1000px;
    width: 95%;
    margin: 25px;
    display: flex;
    > .selectionWithLabel {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      > select{
        text-align: center;
      }
    }
  }
  .result-container{
    height: 500px;
    max-width: 1000px;
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    > .main-column{
      img {
        height: 125px;
        width: 100px;
      }
    }
  }
}

@media (max-width: 860px){
  .unit-statistics{
    .unit-selection{
      flex-direction: column;
    }
  }
}