$nav-height: 60px;
nav{
  display: flex;
  justify-content: center;
  height: $nav-height;
  > a{
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.technique-reroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .technique-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    > button{
      cursor: pointer;
      margin: 2px;
      padding: 10px;
      background-color: red;
      > img{
        height: 100px;
        width: 100px;
      }
    }
  }
  .reroll-input{
    margin-top: 20px;
  }
  .probability-output{
    > p{
      margin: 10px 0;
      font-size: 2rem;
    }
  }
}

.unit-statistics{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  height: calc(100vh - $nav-height);
  min-width: 95vw;
  padding-bottom: 150px;
  .unit-selection{
    max-width: 1000px;
    width: 95%;
    margin: 25px;
    display: flex;
    > .selectionWithLabel {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      > select{
        text-align: center;
      }
    }
  }
  .result-container{
    margin-top: 25px;
    height: 500px;
    max-width: 1000px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    > .result-header{
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      > button{
        margin-top: 5px;
        border: 2px solid black;
        background-color: #99e75a;
        font-weight: 500;
        height: 30px;
        cursor: pointer;
        transition: transform 0.4s ease;
        transition: background-color 0.2s ease;
        border-radius: 10px;
      }
      > button:hover{
        background-color: #3b7010;
        transform: scale(1.1);
      }
      > p{
        margin: 8px;
        font-weight: 500;
      }
      img {
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        max-height: 300px;
        max-width: 250px;
        height: 90%;
        width: 80%;
        margin-top: 10px;
      }
    }
    > .unit-stats{
      font-size: 1.5rem;
      width: 50%;
      > p{
        font-weight: 600;
        -webkit-text-stroke-width: 0.75px;
        -webkit-text-stroke-color: black;
      }
    }
  }
}

@media (max-width: 860px){
  .unit-statistics{
    .unit-selection{
      flex-direction: column;
    }
  }
}

@media (max-width: 600px){
  .unit-statistics{
    .result-container{
      > .result-header{
        text-align: center;
      }
      > .unit-stats{
        font-size: 1rem;
        > p{
          -webkit-text-stroke-width: 0.25px;
        }
      }
    }
  }
}