nav{
  display: flex;
  justify-content: center;
  height: 70px;
  > a{
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.technique-reroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .technique-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    > button{
      cursor: pointer;
      margin: 2px;
      padding: 10px;
      background-color: red;
      > img{
        height: 100px;
        width: 100px;
      }
    }
  }
  .reroll-input{
    margin-top: 20px;
  }
  .probability-output{
    > p{
      margin: 10px 0;
      font-size: 2rem;
    }
  }
}

.unit-statistics{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: red;
  height: calc(100vh - 70px);
  .unit-selection{
    margin: 25px;
  }
  .result-container{
    height: 500px;
    width: 1000px;
    background-color: white;
    display: flex;
    justify-content: space-around;
  }
}